---
eleventyExcludeFromCollections: true
layout: no.html
permalink: entry/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed
    xmlns="http://www.w3.org/2005/Atom"
    xml:lang="en-US"
    xml:base="{{ settings.feed.uri }}">
    <title type="text">{{ settings.siteName }}</title>
    <subtitle type="text">{{ settings.description }}</subtitle>

    {% assign lastSevenEntries = collections.entries | blogHead: 14 -%}
    {%- assign firstEntry = collections.entries | first -%}
    <updated>{{ firstEntry.data.modificationDate }}</updated>
    <id>{{ settings.feed.uri }}</id>

    <link rel="alternate" href="{{ settings.uri }}" />
    <link rel="self" href="{{ settings.feed.uri }}" />

    <generator uri="https://www.11ty.io/" version="{{ settings.eleventy.version }}">eleventy</generator>

    {% for entry in lastSevenEntries -%}
    <entry>
        {% assign entryUrl = entry.url | remove_first: "/" -%}
        {%- assign entryId = settings.feed.id | append: entryUrl -%}
        <title>{{ entry.data.title | escape_once }}</title>
        <link href="{{ entryId | remove_last: "/" }}" />
        <link rel="alternate" type="text/html" href="{{ entryId }}index.html" />
        <id>{{ entryId }}</id>
        <updated>{{ entry.data.modificationDate }}</updated>
        <summary>
            {{ entry.data.tag | getExtract | escape_once }}
        </summary>
        <author>
            <name>{{ settings.author.name }}</name>
        </author>
        <published>{{ entry.data.date }}</published>
    </entry>
    {%- endfor %}
</feed>