---
eleventyExcludeFromCollections: true
layout: no.html
permalink: entry/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ settings.siteName }}</title>
    <subtitle>{{ settings.description }}</subtitle>
    <link href="{{ settings.feed.uri }}" rel="self" />
    <link href="{{ settings.uri }}" />
    <id>{{ settings.feed.id }}</id>
    <author>
        <name>{{ settings.author.name }}</name>
    </author>
    {% assign lastSevenEntries = collections.entries | blogHead: 14 -%}
    {%- for entry in lastSevenEntries -%}
    <entry>
        {% assign entryUrl = entry.url | remove_first: "/" -%}
        {%- assign entryId = settings.feed.id | append: entryUrl -%}
        <id>{{ entryId }}</id>
        <title>{{ entry.data.title | escape_once }}</title>
        <link href="{{ entryId }}" />
        <updated>{{ entry.data.date }}</updated>
        <content type="html">
            {{ entry.data.tag | getExtract | escape_once }}
        </content>
    </entry>
    {%- endfor %}
</feed>