---
eleventyExcludeFromCollections: true
layout: no.html
permalink: entry/feed.xml
---
{%- assign lastSevenEntries = collections.entries | blogHead: 14 -%}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:lang="en-US" xml:base="{{ settings.feed.uri }}">
    <channel>
        <title>{{ settings.siteName }}</title>
        <description>{{ settings.description }}</description>

        <link>{{ settings.uri }}</link>
        <atom:link href="{{ settings.feed.uri }}" rel="self" type="application/rss+xml" />
        {%- assign firstEntry = collections.entries | first -%}
        <pubDate>{{ firstEntry.data.modificationDate }}</pubDate>
        <lastBuildDate>{{ page.date | date_to_rfc822 }}</lastBuildDate>

        {%- for entry in lastSevenEntries %}
        <item>
            {% assign entryUrl = entry.url | formatEntryUri -%}
            {%- assign entryId = settings.feed.id | append: entryUrl -%}
            <title>{{ entry.data.title | escape_once }}</title>
            <link>{{ entryId }}</link>
            <description>
                {{ entry.data.tag | getExtract | escape_once }}
            </description>
            <author>
                <name>{{ settings.author.name }}</name>
            </author>
            <guid isPermaLink="true">{{ entryId }}</guid>
            <pubDate>{{ entry.data.date }}</pubDate>
        </item>
        {%- endfor %}
    </channel>
</rss>