        <footer class="mdc-layout-grid mdc-typography--caption">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-6">
                    {%- if templateClass == "tmpl-index" %}
                    <p>
                        {{ settings.description }}
                    </p>
                    {% endif -%}
                    {%- if modificationDate %}
                    <p>
                        Last Reviewed:
                        {{ modificationDate }}
                    </p>
                    {% endif -%}
                    <p><a class="index" href="{{ root }}entries/">[index]</a></p>
                    <p>
                        another stone tribal move by <a class="index" href="{{ settings.uriCompany }}">Songhay System</a>
                    </p>
                </div>
                <div class="mdc-layout-grid__cell--span-6">
                    <a class="svg-sprite" href="{{ settings.author.uriAzurePortal }}" target="_blank" title="Microsoft Azure Portal">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_azure_24px"></use>
                        </svg>
                    </a>
                    <a class="svg-sprite" href="{{ settings.author.uriAzureDevOps }}" target="_blank" title="Microsoft Azure DevOps">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_visual_studio_24px"></use>
                        </svg>
                    </a>
                    <a class="svg-sprite" href="https://twitter.com/{{ settings.author.twitter }}" target="_blank" title="@{{ settings.author.twitter }}">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_twitter_24px"></use>
                        </svg>
                    </a>
                    <a class="svg-sprite" href="{{ settings.author.uriLinkedIn }}" target="_blank" title="@{{ settings.author.twitter }}">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_linkedin_24px"></use>
                        </svg>
                    </a>
                    <a class="svg-sprite" href="{{ settings.author.uriStackOverflow }}" target="_blank" title="@{{ settings.author.twitter }}">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_stack_overflow_24px"></use>
                        </svg>
                    </a>
                    <a class="svg-sprite" href="https://github.com/{{ settings.author.github }}" target="_blank" title="@{{ settings.author.twitter }}">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_github_circle_24px"></use>
                        </svg>
                    </a>
                    <a class="svg-sprite" href="{{ settings.feed.uri }}" target="_blank" title="Atom feed">
                        <svg class="svg-sprite">
                            <use xlink:href="#mdi_rss_24px"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </footer>