<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:site_name" content="{{ settings:siteName }}" />
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:site" content="@{{ settings:author.twitter }}" />
    <meta name="twitter:creator" content="@{{ settings:author.twitter }}" />

    {% if title -%}
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ settings.uri }}" />
    <meta property="og:image" content="{{ settings.uriLogo }}" />
    {%- endif -%}
    {%- if tag -%}
    {%- assign extract = tag | getExtract -%}
    <meta name="description" content="{{ extract | default: settings.description }}" />
    <meta property="og:description" content="{{ extract | default: settings.description }}" />
    <meta name="twitter:description" content="{{ extract | default: settings.description }}" />
    {%- endif -%}

    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google-site-verification" content="MyXJp0qYgoTSi472GCarwPFWqvRZAo8khVV_FXV33tI" />
    <meta name="msvalidate.01" content="9C08B066B4967EBE515E0CC7C146DE30" />

    <base href="./" />

    <link rel="canonical" href="{{ settings.uri }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ settings.siteName }}" href="{{ settings.feed.path }}" />
    <link rel="SHORTCUT ICON" href="{{ root }}image/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="{{ root }}_bundles/styles.min.css" rel="stylesheet" />

    <script src="{{ root }}_bundles/scripts.min.js"></script>

    <title>{% if title %}{{ title }} - {% endif %}{{ settings.siteName }}</title>
</head>